
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="footer1">
      <a class="footer-link" href="https://www.linkedin.com/in/shubham-singh-91bb301a4/">LinkedIn</a>
      <a class="footer-link" href="https://www.instagram.com/shubham_singh27/">Instagram</a>
      <a class="footer-link" href="https://github.com/Shubhamsingh2747">Github</a>
    </div>
    <p>© 2021 The Imperator.</p>
  </div>
</div>
</body>
</html>
