<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
  <i class="fas fa-landmark fa-9x"></i>
    <h1 class="display-3">Lacus vel facilisis volutpat est velit egestas</h1>
    <p class="secret-text">Lacus vel facilisis volutpat est velit</p>


    <hr>

    <hr>

    <a class="btn btn-dark btn-lg" href="/feedCompose" role="button">Submit a Feedback</a>
    <br>
    <br>
    <br>
    <br>

    <p> <%= startingContent %></p>
    <br>
    <br>

  </div>
</div>

<%- include('partials/footer') %>
